@import "tailwindcss";
@font-face {
    font-family: 'boldman';
    src: url('ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.title-font {
    font-family: 'boldman';
}

:root {
    background: #BBDCE5;
    font-family: "Segoe UI", Arial, sans-serif;
}

@theme {
    --color-primary: #3b82f6;
    --color-primary-dark: #1d4ed8;
    --color-secondary: #8b5cf6;
    --color-success: #10b981;
    --color-success-dark: #007E6E;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
    --color-warning-light: #f5dcb3;
    --color-warning-dark: #946618;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
}

.selectedTab {
    @apply bg-linear-to-r from-primary to-secondary text-white py-2;
}

.baseTab {
    @apply py-2 transition-colors duration-300 ease-in-out rounded-3xl grow;
}

.base-bg-gradient-r {
    @apply bg-linear-to-r from-primary to-secondary; 
}
.base-bg-gradient-br {
    @apply bg-linear-to-br from-primary to-secondary;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

ul li {
    list-style-type: disc !important;
}
