@import "tailwindcss";

@font-face {
    font-family: 'boldman';
    src: url('ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.title-font {
    font-family: 'boldman';
}

:root {
    background: #1d4ed8;
    font-family: "Segoe UI", Arial, sans-serif;
}

@theme {
    --color-primary: #3b82f6;
    --color-primary-dark: #1d4ed8;
    --color-secondary: #8b5cf6;
    --color-success: #10b981;
    --color-success-dark: #007E6E;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
    --color-warning-light: #f5dcb3;
    --color-warning-dark: #946618;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
}

.gradient-text {
    @apply bg-linear-to-r from-primary to-secondary text-transparent bg-clip-text inline-block;
}

.selectedTab {
    @apply bg-white py-2;
}

.selectedTab i {
    @apply bg-linear-to-br from-primary to-secondary text-transparent bg-clip-text inline-block font-bold;
}

.baseTab {
    @apply py-2 transition-colors duration-300 ease-in-out rounded-3xl grow;
}

.bgt {
    @apply bg-white/5 backdrop-blur-3xl text-white;
}

.bor {
    @apply hover:border border-white;
}

.glow {
    @apply shadow-secondary shadow-[0_2px_12px];
}

.glow-green {
    @apply shadow-success shadow-[0_2px_12px];
}

.base-bg-gradient-r {
    @apply bg-linear-to-r from-primary to-secondary; 
}

.base-bg-gradient-br {
    @apply bg-linear-to-br from-primary to-secondary;
}

.base-bg-gradient-br-trans {
    @apply bg-linear-to-br/50 from-primary to-secondary;
}

.table-row-num {
    @apply min-w-6 md:min-w-0 w-1/2 py-2 mx-1 md:py-4 md:mx-2;
}

.table-row {
    @apply min-w-1/4 md:min-w-0 w-full py-2 mx-1 md:py-4 md:mx-2 overflow-x-auto;
}

.table-col-num {
    @apply min-w-8 md:min-w-0 w-1/2 p-2 md:p-4 bg-gray-300;
}

.table-col {
    @apply min-w-21 md:min-w-0 w-full p-2 mx-0 md:p-4 grow bg-gray-300 whitespace-nowrap;
}

.profile {
    @apply w-24 h-24 object-cover object-center rounded-full shadow-xl border border-white;
}

.equation-container {
    @apply flex flex-col gap-2 p-4 border-warning border-2 rounded-3xl font-bold text-start h-fit;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

ul li {
    list-style-type: disc !important;
}
